<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659140806106-jmla2ek9h8mboh7nruetr1384fl9mguo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659140806106-jmla2ek9h8mboh7nruetr1384fl9mguo</string>
	<key>API_KEY</key>
	<string>AIzaSyDkMBGPEemSiUGYYr8MQifUeCy3FuH4HZA</string>
	<key>GCM_SENDER_ID</key>
	<string>659140806106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ah.EDU-TEAM2</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauth-f101f</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauth-f101f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659140806106:ios:1038334fc4de1563d8ace3</string>
</dict>
</plist>